{% extends 'base.html' %}

{% block title %}Buzzer!{% endblock %}

{% block scriptSrc %}
    <script src="{{ url_for('static', filename='buzzer.js') }}"></script>
{% endblock %}

{% block rightAux %}
    <button type="button" class="aux-btn" id="change-user" onclick="logout()">Change username</button>
{% endblock %}

{% block leftAux %}
    <button type="button" class="aux-btn" id="reset-button" onclick="sendResetBuzzerSig()">Reset button</button>
{% endblock %}

{% block centered %}
    <button type="button" id="buzzer" onclick="buzzerClick()">
        {{ request.cookies.get('user') }}
    </button>
{% endblock %}

{% block otherContent %}
    <script>
        {# if someone already buzzed #}
        {% if g.clicked != None %}
            // start prep
            {# if that person was not you #}
            {% if g.clicked != request.cookies['user'] %}
                failure("{{ g.clicked }}");
            {# if that person was you #}
            {% else %}
                success();
            {% endif %}
            clicked = true;
            // end prep
        {% endif %}

        // Starts the thread that continuously waits for someone to buzz
        waitForClick();
    </script>
{% endblock %}