<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/buzzer.png">
    {% block scriptSrc %}
    {% endblock %}
    <script src="{{ url_for('static', filename='setup.js') }}"></script>
    <script src="{{ url_for('static', filename='userList.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <section id="aux-sec">
        <div class="aux-div">
            {% block leftAux %}
            {% endblock %}
        </div>

        <div id="flashed-div">
            {% for mess in get_flashed_messages() %}
                <div class="flash">{{ mess }}</div>
            {% endfor %}
        </div>

        <div class="aux-div">
            {% block rightAux %}
            {% endblock %}
        </div>
    </section>

    <div id="centered">
        {% block centered %}
        {% endblock %}
    </div>

    <h3 id="player-list-title">Other players!</h3>
    <div id="player-list">

    </div>
    <script>
        setup(
            '{{ request.cookies['user'] }}',
            '{{ url_for('api.get_users') }}',
            '{{ url_for('auth.logout') }}',
            '{{ url_for('api.click') }}',
            '{{ url_for('api.reset') }}',
            '{{ url_for('api.wait_buzz') }}',
            '{{ url_for('api.wait_reset') }}',
            'green', 'orange'
        );
    </script>

    {% block otherContent %}
    {% endblock %}


    <script>
        // used to fade off the flashed messages
        function fade(element) {
            let animationTime = 5;
            let stepTime = 0.05;

            let initialOp = 1; // initial opacity
            let op = initialOp;
            let per = stepTime / animationTime
            console.log(per);
            const timer = setInterval(function () {
                if (op <= 0.1) {
                    clearInterval(timer);
                    element.style.display = 'none';
                }
                element.style.opacity = op;
                element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                op -= initialOp * per;
            }, stepTime * 1000);
        }

        flashed = document.getElementsByClassName("flash");
        for (let i = 0; i < flashed.length; i++) {
            fade(flashed[i]);
            console.log("Fading element");
        }

        // Runs the thread that continuously updates the list of users
        getUserList();

    </script>

</body>
</html>

