/* Color theme: */
/*74B3CE*/
/*508991*/
/*172A3A*/
/*004346*/
/*09BC8A*/

@keyframes zoomIn {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(0%);
    }
}

body {
    background-color: #172A3A;
}

div {
    border-radius: 10px;
}

button {
    border: none;
    border-radius: 10px;
}

header {
    background-color: #74B3CE;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

label {
    font-size: 2rem;
}

input {
    border-radius: 0.5em;
    font-size: 1rem;
}

#login-form {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 25%;
}

.flash {
    background-color: #09BC8A;
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 1em;
    height: 2em;
}

#buzzer {
    color: inherit;
    background-color: inherit;
    height: 100%;
    width: 100%;
    font-size: 60px;
}

#aux-sec {
    display: flex;
    justify-content: space-evenly;
    height: 150px;
}

.aux-div {
    animation: 0.2s ease-in-out 1 zoomIn;
    display: flex;
    align-items: center;
    width: 25%;
}

.aux-btn {
    color: black;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: #09BC8A;

}

#flashed-div {
    overflow: scroll;
    width: 50%;
}

#centered {
    animation: 0.2s ease-in-out 1 zoomIn;
    background-color: #508991;
    color: black;
    height: 450px;
    width: 90%;
    margin: auto;
}

#player-list-title {
    color: #74B3CE;
    font-size: 40px;
}

#player-list {
    color: #74B3CE;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

#player-list > div {
    width: 10%;
}