/* Color theme: */
/*74B3CE*/
/*508991*/
/*172A3A*/
/*004346*/
/*09BC8A*/

body {
    background-color: #172A3A;
}

header {
    background-color: #74B3CE;
}

h1 {
    font-size: 40px;
    text-align: center;
}

label {
    font-size: 2rem;
}

input {
    border-radius: 0.5em;
    font-size: 1rem;
}

#login-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flash {
    background-color: #09BC8A;
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 1em;
    height: 2em;
    border-radius: 10px;
}

.centered {
    /*left: 0;*/
    background-color: #508991;
    /*text-align: center;*/
    height: 300px;
    /*width: 100%;*/
    /*border-radius: 10px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

#buzzer {
    color: darkred;
    background-color: inherit;
    border-radius: inherit;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 60px;
}

#aux-div {
    background-color: red;
    /*height: 200px;*/
}

#flashed-mess {
    overflow: clip;
    height: 150px;
}

#aux-sec {
    background-color: red;
    height: 150px;
}