<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/buzzer.png">
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>{% block header %}{% endblock %}</header>
{% for mess in get_flashed_messages() %}
    <div class="flash">{{ mess }}</div>
{% endfor %}
{% block content %}{% endblock %}
</body>
</html>