{% extends 'base.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='buzzer.js') }}"></script>
{% endblock %}

{% block header %}
    <h1>{% block title %}Buzzer!{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="aux-div">
    <button type="button" class="aux" id="change-user" onclick="logout()">Change username</button>
    <button type="button" class="aux" id="reset-button" onclick="resetBuzzer()">Reset button</button>
</div>

<div class="centered">
    <button type="button" id="buzzer" onclick="buzzerClick()">
        {{ request.cookies.get('user') }}
    </button>
</div>

<h2 id="player-title"></h2>
<ul id="player-list"></ul>

<script>
    setup(
        '{{ request.cookies['user'] }}',
        '{{ url_for('logout') }}',
        '{{ url_for('api.click') }}',
        '{{ url_for('api.reset') }}',
        '{{ url_for('api.wait_buzz') }}',
        '{{ url_for('api.wait_reset') }}',
        '{{ url_for('api.get_users') }}'
    );

    {# check if someone already buzzed and set the view accordingly #}
    {% if g.clicked != None %}
        // start prep
        {% if g.clicked != request.cookies['user'] %}
            failure("{{ g.clicked }}");
        {% else %}
            success();
        {% endif %}
        clicked = true;
        // end prep
    {% endif %}

    updateUserList();
    waitForClick();
</script>
{% endblock content %}